<nav class="navbar bg-body-tertiary sticky-top" style="padding-inline: 2em;">
  <div class="container-fluid">
    <a class="navbar-brand" href="/lists">
      <i class="fa-solid fa-film"></i>
    </a>
    <%= link_to "My Lists", lists_path, style: "color: black; text-decoration: none;" %>
  </div>
</nav>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container" style="text-align: center;">
    <h1><%= @list.name %></h1>
    <div class="btn btn-warning" style="position: absolute; right: 2em; top: 2em; color: white;"><%= @list.movies.count %> movies</div>
  </div>
</div>
<div class="container container-custom">
  <div class="add-btn-container">
    <div class="btn btn-success" style="float: right; color: white" id="addMovie">Add a Movie</div>
  </div>
  <div class="row row-cols-2 cards-movie-container-custom">
    <% @list.bookmarks.each do |bookmark| %>
    <div class="card card-movie-custom" style="width: 32rem;">
      <%= image_tag(bookmark.movie.poster_url, class: "card-img-top") %>
      <div class="card-body">
        <div class="card-title-and-rating-container">
          <h5 class="card-title"><%= bookmark.movie.title %></h5>
          <p> • <%= bookmark.movie.rating %></p>
          <i class="fa-solid fa-star" style="color: #ffcb00; height: 1.5em; margin-left: .2em;"></i>
        </div>
        <p class="card-text"><%= bookmark.movie.overview %></p>
        <div style="display: flex; justify-content: space-between;">
          <div style="display: flex; align-items: center;">
            <i class="fa-solid fa-quote-left" style="font-size: 1.5em;">
            </i>
            <p style="margin-bottom: 0; margin-left: .7em; font-weight: bold;"><%= bookmark.comment %></p>
          </div>
          <%= link_to "Delete", list_bookmarks_delete_path(bookmark), class: "text-danger",
          data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <%= simple_form_for [@list, @bookmark], html: { class: 'd-none', style: 'width: 50em; margin-block: 3em;' } do |f| %>
    <%= f.association :movie %>
    <%= f.input :comment %>
    <%= f.submit 'Add movie', class: 'btn btn-success', style: 'color: white;' %>
  <% end %>
</div>
